@model IEnumerable<MvcDemoProject.Models.ViewCartModel>

@{
    ViewData["Title"] = "GetProductsCustomerCard";
}

@if (ViewBag.num == -3)
{
    <script>
        alert("Added To Cart")
    </script>
}

@if (ViewBag.y == "?num=-2")
{
    <script>
        alert("Order Placed Successfully....!")
    </script>
}
@if (ViewBag.y == "?num=-4")
{
    <script>
        alert("Something is wrong or please check your wallet balance...!")
    </script>
}


@if (ViewBag.num == -2)
{
    <script>
        alert("Added To Cart")
    </script>
}


@if (ViewBag.x == -1)
{
    <script>
        alert("Added To Cart");
    </script>
}


<h1 class="text-center">GetProducts Customer Card</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
    @{
      

                          @foreach (var item in Model) 
      {
                             <br />
                             <br />
                             <br />

            var count = 0;

                                @if (item.pimgUrl != null)
            {
      
                    string m1, m2, m3;

                    var images = item.pimgUrl.Split(",");

                    m1 = images[0];


                        <div class="card text-dark my-2 mx-2" style="width:300px;height:600px">
                            <img src="@Html.DisplayFor(modelItem => m1)" alt="Laptop Image" style="width:270px;height:320px;">
                                    <div class="card-body">
                                        Model name: @Html.DisplayFor(modelItem => item.pName)<br>
                                        Price: @Html.DisplayFor(modelItem => item.price)<br>
                                        About: @Html.DisplayFor(modelItem => item.Specification)

                                    </div>
                                <div class="card-footer">

                                   <div class="row">
                                            <div class="col-6">

                                                @Html.ActionLink("Back", // <-- Link text

                                                "GetProductsCustomer","Product",

                                                // <-- Action Method Name

                                                new { id=item.Id}, // <-- Route arguments

                                                new {@class="btn btn-warning"} // <-- htmlArguments

                                                )

                                            </div>

                                            <div class="col-6">


                                               @Html.ActionLink(" Detailss ", // <-- Link text
                                               "DetailsAction",
                                               "Product",
                                               // <-- Action Method Name
                                               new { id=item.pId}, // <-- Route arguments
                                               new {@class="btn btn-success ms-4", data_val="abc"}  // <-- htmlArguments
                                               )

                                            </div>
                                   </div>

                                </div>
                        </div>

                 
            }
          
        

      }
 }   
</div>
</div>
