@model MvcDemoProject.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.custName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.custName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalAmmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalAmmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
